@model MyLibrary.Models.Book

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Books_Operations.css" />
</head>
<body>
    <h2 style="margin-left:120px">Delete</h2>
    <div class="main-form">
        <form method="post" action="">
            @Html.AntiForgeryToken()
            <input type="hidden" name="Book_ID" value="@Model.Book_ID" readonly />
            <input type="text" name="Title" placeholder="Title" value="@Model.Title" readonly />
            <input type="text" name="Author" placeholder="Author" value="@Model.Author" readonly />
            <input type="number" name="Release_year" placeholder="Release year" value="@Model.Release_year" readonly />
            <input type="text" name="Publishment" placeholder="Publishment" value="@Model.Publishment" readonly />
            <input type="text" name="Content" placeholder="Content" value="@Model.Content" readonly />
            <input type="number" step="0.01" name="Price" placeholder="Price" value="@Model.Price" readonly />
            <input type="text" name="Genre" placeholder="Genre" value="@Model.Genre" readonly />
            <input type="datetime" name="Date_of_coming" placeholder="Date of coming" value="@Model.Date_of_coming" readonly />
            <input type="number" name="Amount_of_coming" placeholder="Amount of coming" value="@Model.Amount_of_coming" readonly />
            <input type="number" name="Inventary_number" placeholder="Inventary number" value="@Model.Inventary_number" readonly />
            <label><input type="checkbox" name="Availability" disabled="disabled"> Availability</label>
            <input type="submit" value="Delete" />
            <div>
                <a class="link" href="/Books/Index">Back to List</a>
            </div>
        </form>
    </div>
</body>